.app-aside-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;

    width: 300px;
}

.skin-displays {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}

.skin-model-preview {
    box-sizing: border-box;

    border: 1px solid #eeeeee;

    user-select: none;

    width: 300px;
    height: 400px;
}

.skin-flat-preview {
    box-sizing: border-box;

    border: 1px solid #eeeeee;

    user-select: none;

    width: 300px;
    height: 300px;
}

.action-buttons-container {
    display: flex;

    gap: 0.25rem;

    width: 100%;
}

.action-buttons-container > * {
    flex: 1;

    border: 1px solid #eeeeee;
    border-radius: 2px;

    background-color: #fafafa;

    padding: 0.25rem 0.5rem;

    user-select: none;

    font-weight: 300;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;

    cursor: pointer;
}

.action-buttons-container > *:hover {
    border: 1px solid #eeeeee;

    background-color: #f5f5f5;
}

@media (max-width: 1024px) {
    .app-aside-container {
        width: 200px;
    }

    .skin-model-preview {
        width: 200px !important;
        height: calc(200px * 4 / 3) !important;
    }

    .skin-flat-preview {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 640px) {
    .skin-model-preview {
        position: fixed;

        top: 0;
        left: 0;
        right: 0;

        width: 100vw !important;
        height: auto !important;
    }

    .skin-flat-preview {
        display: none;
    }

    .action-buttons-container {
        width: min-content;

        position: fixed;

        top: 3rem;
        left: 0.5rem;

        flex-direction: column;

        gap: 0;
    }

    .action-buttons-container > * {
        text-align: left;
        text-decoration: underline;

        width: min-content;

        border: none;

        background: transparent;
    }

    .action-buttons-container > *:hover {
        border: none;

        background: transparent;
    }
}

@media (max-width: 392px) {
    .action-buttons-container > * {
        font-size: 0.8rem;
    }
}
